.link {
	position: relative;
	padding-inline: 4px;
	color: var(--color-greenPrimary);
	cursor: pointer;
	font-weight: 600;
	transition: color 0.2s ease;
}

.link::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -22px;
	width: 100%;
	height: 3px;
	background: var(--color-yellow-hover);
	border-radius: 10px;

	transform: scaleY(0);
	transform-origin: bottom;
	transition: transform 0.3s ease;
}

.link:hover {
	color: var(--color-yellow-hover);
}

.activeLink::after {
	transform: scaleY(1);
}
.activeLink {
	color: var(--color-yellow-hover);
}
